/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  width: 1000px;
  margin: auto;
}
.top-page {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  text-decoration: none;
  margin-top: 5%;
  max-width: 90%;
}
.logo {
  display: flex;
  max-width: 30%;
  padding-top: 2%;
  padding-bottom: 5%;
  margin: auto;
}
.top-page {
  margin: auto;
  border: 3px solid black;
  padding-bottom: 5px;
  padding: 10px 10px;
  background-image: url("../img/menu-back.jpg");
}
.nav-box {
  color: black;
  text-decoration: none;
  margin: auto;
  padding: 1% 5%;
  border: 2px solid black;
}
.nav-box:hover {
  background-image: url("../img/menu-hover.jpg");
  color: white;
}
.middle-content {
  display: flex;
  font-family: 'Ubuntu Condensed', sans-serif;
  flex-direction: column;
  align-items: center;
  font-size: 45px;
  height: 800px;
  padding: 5%;
  margin-top: 5%;
  border-top: 5px solid black;
  background-image: url(../img/help.png);
  background-size: 100% auto;
}
.cards {
  display: flex;
  justify-content: space-between;
  height: 75%;
  align-items: center;
  margin-right: 10%;
}
.helpothers {
  height: 350px;
  padding-left: 10%;
}
.left-content {
  background-color: lightgray;
  margin-left: 2%;
  margin-top: 5%;
  max-width: 50%;
  border: 3px solid black;
}
.btn {
  background-image: url("../img/menu-back.jpg");
  color: black;
  font-size: 30px;
  cursor: pointer;
}
.btn:hover {
  background-image: url("../img/menu-hover.jpg");
  color: white;
}
.btn-layout {
  display: flex;
  justify-content: space-between;
  width: 75%;
  height: 15%;
}
.footer {
  display: flex;
  justify-content: center;
  margin: auto;
  border: 2px solid black;
  background-color: beige;
}
@media only screen and (max-width: 500px) {
  body {
    max-width: 500px;
    margin: auto;
  }
  .logo {
    display: flex;
  }
  .left-content {
    max-height: 60%;
    font-size: 15px;
  }
  .helpothers {
    display: none;
  }
  .middle-content {
    background-image: none;
  }
}
.logo {
  display: flex;
  max-width: 30%;
  padding-top: 2%;
  padding-bottom: 5%;
  margin: auto;
}
.top-page {
  margin: auto;
  border: 3px solid black;
  padding-bottom: 5px;
  padding: 10px 10px;
  background-image: url("../img/menu-back.jpg");
}
.nav-box {
  color: black;
  text-decoration: none;
  margin: auto;
  padding: 1% 5%;
  border: 2px solid black;
}
.nav-box:hover {
  background-image: url("../img/menu-hover.jpg");
  color: white;
}
.developers {
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 45px;
  height: 800px;
  padding: 5%;
  margin-top: 5%;
  border-top: 5px solid black;
  background-image: url(../img/help.png);
  background-size: 100% auto;
}
.person {
  width: 30%;
  font-size: 23px;
}
.proimage {
  max-width: 150px;
  border-radius: 15px;
}
.aboutimage {
  font-family: 'Ubuntu Condensed', sans-serif;
  border: 2px solid black;
  background-color: beige;
}
.footer {
  display: flex;
  justify-content: center;
  margin: auto;
  border: 2px solid black;
  background-color: beige;
}
